<article>
  <div class="row center-xs">
    <div class="col-xs-12 col-md-7">
      <h1 class="text-center"><%= @note.title %></h1>
      <div class="text-justify">
        <%= @note.body %>
      </div>
    </div>
  </div>
</article>
